{% load static %}
<style>
    body {
        display: grid;
        place-items: center;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.5);
        background-image: url("{% static 'agriScanApp/background.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Arial, sans-serif;
        backdrop-filter: blur(5px);
    }
    .maincontent{
        background: rgba(238, 174, 202, 0.7); /* 70% opacity */
        background: radial-gradient(circle, rgba(238, 174, 202, 0.7) 0%, rgba(188, 200, 227, 0.7) 100%);
        font-family: Arial, sans-serif; /* Use a different font for better readability */
        max-width: 400px;
        height: 400px;
        border: 2px solid #3498db;
        border-radius: 40px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .maincontent .custom-img {
        max-width: 200px;
        height: 200px;
        margin-left: 80px;
    }
    .login-form {
        max-width: 400px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.9);
        border: 2px solid #3498db;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .login-form .form-control {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
    }
    .login-form .btn-primary {
        background-color: #3498db;
        border: none;
        padding: 10px 20px;
    }
    .login-form .btn-primary:hover {
        background-color: #2980b9;
    }
    .login-form .form-group select {
        appearance: none;
        background-color: white;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
    }

    .register{
        margin-left: 40px;
        margin-top: 10px;
    }

    .login{
        margin-left: 120px;
    }
    .loginbtn {
        margin-left: 110px;
        border-radius: 30px;
        padding: 5px 20px;
        background-color: #0dcaf0;
        color: white;
    }
</style>

<div class="container maincontent">
    <!-- <img src="{% static 'agriScanApp/logo.png' %}" alt="logo" class="custom-img"> -->
    <h3 class="login text-white">LOGIN</h3>
{% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
{% endif %}
<form method="post" class="login-form bg-white rounded-5 p-4">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
        <!-- <div class="form-group">
            <label for="user_type">Select User Type:</label>
            <select class="form-control" id="user_type" name="user_type">
                <option value="Student">Student</option>
                <option value="Professor">Professor</option>
            </select>
        </div> -->
    <button type="submit" class="btn btn-primary btn-block mt-3 loginbtn">Login</button>
</form>
<div class="register">Don't have an Account? <a href="{% url 'agriScanApp:registration' %}">Register!</a></div>
</div>